@font-face {
  font-family: 'iconfont';  /* project id 1232876 */
  src: url('//at.alicdn.com/t/font_1232876_90a6ubnlyyu.eot');
  src: url('//at.alicdn.com/t/font_1232876_90a6ubnlyyu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1232876_90a6ubnlyyu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1232876_90a6ubnlyyu.woff') format('woff'),
  url('//at.alicdn.com/t/font_1232876_90a6ubnlyyu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1232876_90a6ubnlyyu.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e603";
}

.icon-bofanganniu:before {
  content: "\e602";
}

.icon-sq:before {
  content: "\e601";
}

.icon-pause:before {
  content: "\e641";
}

.icon-back::before {
  content: "\e604";
}

.icon-xiangshangjiantouarrowup::before {
  content: "\e60b";
}

